/*Student 2 - Task 2 - Main page CSS*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fdefe4;
	font-size:20px;
	font-family:'Times New Roman', serif;
}

.books{
	background-image: url("../student2_images/book4.jpg");
	height: 90vh;
	width:212.9vh;
	display: flex;
	float:center;
	margin-top:-20px;		
}

.books p{
	font-family:Open Sans Extra Bold;
	font-size:60px;
	color: #991818;
	background-color: #698269;
	width:55%;
	margin:auto;
	margin-left:190px;
	text-align:center;
	margin-left:340px;
	margin-top:30vh;
}

.about{
	text-align:center;
	padding:20px;
	position: relative;
	margin: 0 140px;
}

/*header CSS navigation bar*/

.logo img {
	width:200px;
	float:left;
	height:150px;
	justify-content:left;
	margin-left:-70px;
	margin-top:-100px;
}

.heading{
	font-family:Georgia, serif;
	font-size:20px;
	margin-left:-50px;
	margin-top:-100px;
	color: #991818;
}

.nav_list {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 140px;
	list-style:none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 70;
	width: 100%;
	background-color:#698269;
	
}

.nav_list li{
	font-family:'Times New Roman', serif;
	display:inline-block;
	align-content: right;
	align-items: right;
	margin-left: 50px;
	padding:10px;
	font-size:20px;
	margin-top:90px
}

.nav_list li a {
	color: #F1DBBF ; 
	text-decoration: none;
	
}

.nav_list li a:hover {
	color: #B99B6B;
}

.nav_list li a.active{
	color: #991818;
}


/* footer css */
footer {
	position: relative;
	height: 12rem;
	background-color: #698269;
	padding: 20px 180px ;
	font-size:13px;
	top: 10vh;
}

.footer_container {
	display: flex;
}

.footer_item {
    margin: 0px 50px;
}
.footer_item h2{
	font-size:20px;
}


.contact li {
	list-style-type: none;
	margin: 15px 0;
}

.contact_link a {
	text-decoration: none;
	color: 	black;
}

.contact_link a:hover {
	color: #B99B6B;
}

.social_media {
	display: flex;
}

.sm_link {
	text-decoration: none;
	color: 	black;
	font-size: 2rem;
	width: 6rem;
	display: flex;
}

.sm_link:hover {
	color: #B99B6B;
}


/* hover style */
.hover_style {
	margin: 0 140px;
	position: relative;
	top: 70px
}

.image_row {
	display: flex;
}

.image_row div {
	margin: 100px 120px;
	margin-bottom: 20px;
}

.image_row div img:hover {
	transform: scale(1.2); 
}

.image_row img {
	transition: transform .2s;
    width: 400px;
	height: 400px;	
}

.image_text {
	top: 200px;
	display: absolute;
	z-index: 99;
	left: 120px;
	color:#991818;
	font-size:30px;
	font-family: 'Times New Roman', serif;
}


/* editor button */
#editor {
	position: absolute;
	right: 0;
	top: 330vh;
}

#editor a {
	text-decoration: none;
	background-color: #F1DBBF;
	color: black;
	position: relative;
	width: 10%;
	border-radius: 10px; 
	padding: 20px;
}

#editor a:hover {
	color: #B99B6B; 
}
